h1 {
  text-align: center;
  font-size: 6vw;
}

h2 {
  text-align: center;
  font-size: 4vw;
}

.rectangle {
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  /* font-family: "Yeseva One"; */
  border: 10px;
  border-style: double;
  border-color: white;
  padding: 4em;
}

.buttondiv {
  width: 100%;
  text-align: center;
}

.button {
  background-color: transparent;
  min-height: 50px;
  width: 50px;
  color: white;
}

.arrow:hover {
  color: #3db2ff;
}

.arrow {
  transform: scale(2);
}
