.comp h1 {
  font-family: "Lobster";
  font-size: 3.5rem;
  color: black;
}

.style {
  margin: auto;
}

.cBody {
  min-height: 275px;
}

.stick-left {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.custom-img {
  max-height: 270px;
}

.centerText {
  padding-top: 100px;
  text-align: center;
}
