.header {
  font-size: 3rem;
  background: linear-gradient(65deg, #3db2ff, #fef9ef);
  padding: 0 1%;
}

.header a {
  text-decoration: none;
  color: black;
}

.svg {
  transform: scale(1.8);
  color: white;
  display: inline-block;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 50px;
}

.header li {
  margin-left: 3rem;
}

.ltext {
  font-size: 1.5rem;
  color: black;
}

.title a:hover {
  color: black;
}
