/* At 1850 width */
@media (max-width: 115.625em) {
  .hero {
    max-width: 115rem;
  }

  .heading-primary {
    font-size: 3.4rem;
  }

  .hero-description {
    font-size: 1.1rem;
  }
}

/* 1520px */
@media (max-width: 95em) {
  .heading-primary {
    font-size: 2.6rem;
  }
}

/* 1440px */
@media (max-width: 90em) {
  .grid {
    column-gap: 3.4rem;
  }

  .heading-primary {
    font-size: 2.6rem;
  }

  .highlight-text-box ul li {
    font-size: 1.1rem;
  }
}

/* 1200px */
@media (max-width: 75em) {
  .hero {
    padding: 0 3rem;
    column-gap: 2rem;
  }

  .hero-text-box {
    padding: 0;
  }

  .hero-image {
    width: 100%;
  }

  .logos img {
    height: 8rem;
  }

  .highlight {
    column-gap: 0.8rem;
  }

  .highlight-text-box ul li {
    font-size: 1rem;
  }

  .highlight-image {
    width: 80%;
  }

  .logo-col a {
    margin-bottom: 0.5rem;
  }

  .logo-col a img {
    width: 90%;
  }

  .social-links {
    gap: 2rem;
    font-size: 1.5rem;
  }

  .footer-heading {
    font-size: 1.5rem;
  }
}

/* 960px */
@media (max-width: 60em) {
  .grid {
    column-gap: 2rem;
  }

  .hcontainer {
    padding: 0 1.5rem;
  }

  .heading-primary {
    font-size: 2.5rem;
  }

  .section-highlight {
    margin-bottom: 5rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .logos img {
    height: 7.5rem;
  }

  .highlight-image img {
    width: 75%;
  }
}

/* 808 px*/
@media (max-width: 50.5em) {
}
