.row {
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top {
  align-items: start;
}

a {
  text-decoration: none;
}

.header-image {
  background-color: red;
}

.header-text {
  background-color: blue;
}

.background-banner {
  height: 700px;
  width: 100%;
  background-color: #7d838d;
}
