.row {
  margin: 50px auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top {
  align-items: start;
}

a {
  text-decoration: none;
}

.home-background-image {
  width: 100%;
  height: auto;
}
